<launch>
    <!-- Network connection to the haptic glove -->
    <node pkg="cynaptix" type="glove_connection_point.py" 
          name="haptic_glove" output="screen" respawn="true">
        <param name="port" value="25565"/>
        <param name="communication_frequency" value="10"/>
        <param name="connection_timeout" value="0.3"/>
        <param name="hostname" value="nickick-laptop"/>
    </node>

    <!-- Network connection to the robot frame -->
    <node pkg="cynaptix" type="frame_connection_point.py"
          name="frame_bot" output="screen" respawn="true">
        <param name="port" value="25566"/>
        <param name="communication_frequency" value="10"/>
        <param name="connection_timeout" value="0.3"/>
        <param name="hostname" value="nickick-laptop"/>
    </node>
</launch>
