# Nick is bad at vim
*.swp

# Vim tags
*/tags

## C++ stuff

# Build directories
*/build/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Catkin stuff
catkin_ws/src/CMakeLists.txt
catkin_ws/devel/*
catkin_ws/build/*

# Ros stuff
*.bag

# Python stuff
*.pyc
